nav {
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
}
nav .navbar-nav li a{
  color: black !important;
  margin-right: 2em;
  padding-top: 1.5em;
  font-size: 1.2em;
  padding-bottom: 1em;
}

html {
	background-color: black !important;
}

nav .navbar-brand {
  	padding-top: 1.5em;
  	font-size: 1.2em;
  	padding-bottom: 1em;
}

.navbar-brand {
	color: black !important;
}

.main-content {
	color: white;
	margin: none;
	padding: 1em;
	background-color: black;
	padding: 1em;
	font-family: 'Montserrat', sans-serif;
	max-width: 100vw;
}

.title {
	padding-top: 2em;
}

.footer-contact {
	color: #B1AFAF;
	text-decoration: none;
}

.footer-contact:hover {
	color: white;
	text-decoration: none;
}

.footer p {
	padding-top: 1em;
	font-size: 1.2em;
	
}

.p {
	padding-bottom: 2em;
	line-height: 1.7em;
	font-size: 1.2em;
}

.p-top {
	padding-top: 2em;
}

.list {
	padding-bottom: 4em;
}

.img {
    height: 100px;
    width: 100px;
    margin-top: 1em;
  }

.list li {
	color: #B1AFAF;
	padding-top: 1em;
}

.list-title {
	padding-bottom: 2em;
	line-height: 1.5em;
}

.footer {
 	text-align: center;
 	padding-top: 3em;
 	padding-bottom: 3em;
 	color: white;
 	background-color: #252525;
 	font-size: 1em;
 	font-family: 'Montserrat', sans-serif;
 	padding-bottom: 5em;
 }
 .footer h3 {
 	font-size: 1.3em;
 }

@media only screen and (min-width: 768px) {
  .p {
		padding-bottom: 2em;
		line-height: 2.1em;
		padding-left: 10em;
		padding-right: 10em;
	}

	.list-title {
		padding-left: 4em;
	}
	ul {
		list-style-position: inside;
	}
	
	.title {
		padding-left: 3em;
	}

	.list {
		padding-left: 4em;
	}

	.img {
    height: 100px;
    width: 100px;
    margin-top: 1em;
  }
}